<div class="container">

    <p-messages></p-messages>
    <p-confirmDialog acceptLabel="Sim" rejectLabel="Não"></p-confirmDialog>
  
    <div class="grid p-fluid">
      <div class="col-12 md:col-10">
        <h1>{{titulo}}</h1>
      </div>
      <div class="col-12 md:col-2">
        <button pButton routerLink="/clientes" icon="pi pi-fw pi-arrow-left" label="Voltar"></button>
      </div>
    </div>
  
    <form autocomplete="off" #f="ngForm" (ngSubmit)="salvar()">
  
      <div class="grid p-fluid">
  
        <div class="col-12 md:col-4">
  
          <label for="nome">Nome</label>
          <input id="nome" pInputText name="nome" class="form-control" required [(ngModel)]="cliente.nome" #nome="ngModel"
            [ngClass]="{ 'ng-invalid ng-dirty': f.submitted && nome.invalid && (nome.dirty || nome.touched) }">
        </div>
  
        <div class="col-12 md:col-4">
  
          <label for="cpf">CPF</label>
          <input id="cpf" pInputText name="cpf" class="form-control" required [(ngModel)]="cliente.cpf" #cpf="ngModel"
            [ngClass]="{ 'ng-invalid ng-dirty': f.submitted && cpf.invalid && (cpf.dirty || cpf.touched) }">
        </div>
  
        <div class="col-12 md:col-4">
  
            <label for="rg">RG</label>
            <input id="rg" pInputText name="rg" class="form-control" required [(ngModel)]="cliente.rg" #rg="ngModel"
              [ngClass]="{ 'ng-invalid ng-dirty': f.submitted && rg.invalid && (rg.dirty || rg.touched) }">
          </div>
  
      </div>

      <div class="grid p-fluid">
  
        <div class="col-12 md:col-4">
  
          <label for="dataNascimento">Dt. Nascimento</label>
          <input id="dataNascimento" pInputText name="dataNascimento" class="form-control" required [(ngModel)]="cliente.data_nascimento" #dataNascimento="ngModel"
            [ngClass]="{ 'ng-invalid ng-dirty': f.submitted && dataNascimento.invalid && (dataNascimento.dirty || dataNascimento.touched) }">
        </div>
  
        <div class="col-12 md:col-4">
  
          <label for="telefone">Telefone</label>
          <input id="telefone" pInputText name="telefone" class="form-control" required [(ngModel)]="cliente.telefone" #telefone="ngModel"
            [ngClass]="{ 'ng-invalid ng-dirty': f.submitted && telefone.invalid && (telefone.dirty || telefone.touched) }">
        </div>
  
      </div>


      <p-panel header="Lançar endereços">

        <div class="grid p-fluid">
          <div class="col-12 md:col-4">
            <label for="cep">CEP</label>
            <p-inputMask id="cep" name="cep" mask="99999-999" [(ngModel)]="endereco.cep" placeholder="99999-999" #cep="ngModel"></p-inputMask>
          </div>
          <div class="col-12 md:col-4">
            <label for="numero">Número</label>
            <input id="numero" pInputText  type="text" name="numero" [(ngModel)]="endereco.numero" #numero="ngModel">
          </div>
          <div class="col-12 md:col-4">
            <label for="logradouro">Logradouro</label>
            <input id="logradouro" pInputText  type="text" name="logradouro" [(ngModel)]="endereco.logradouro" #logradouro="ngModel">
          </div>
        </div>  
        <div class="grid p-fluid">
          <div class="col-12 md:col-3">
            <label for="complemento">Complemento</label>
            <input id="complemento" pInputText  type="text" name="complemento" [(ngModel)]="endereco.complemento" #complemento="ngModel" >
          </div>  
          <div class="col-12 md:col-2">
            <label for="bairro">Bairro</label>
            <input id="bairro" pInputText  type="text" name="bairro" [(ngModel)]="endereco.bairro" #bairro="ngModel" >
          </div>  
          <div class="col-12 md:col-3">
            <label for="localidade">Localidade</label>
            <input id="localidade" pInputText  type="text" name="localidade" [(ngModel)]="endereco.localidade" #localidade="ngModel" >
          </div>  
          <div class="col-12 md:col-4">
            <label for="uf">UF</label>
            <input id="uf" pInputText  type="text" name="uf" [(ngModel)]="endereco.uf" #uf="ngModel" >        
          </div>
  
          <div class="col-12 md:col-2">
            <label>&nbsp;</label>
            <button pButton type="button" label="Add" icon="pi pi-fw pi-check" (click)="inserirEnderecoDoCliente()"></button>
          </div>
        </div>
  
        <p-table [value]="cliente.enderecos" responsiveLayout="stack">
          <ng-template pTemplate="caption">
            Lista de serviços
          </ng-template>
          <ng-template pTemplate="header" let-columns>
            <tr>
              <th>CEP</th>
              <th>Número</th>
              <th>logradouro</th>
              <th>Complemento</th>
              <th>Bairro</th>
              <th>Localidade</th>
              <th>UF</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-endereco let-columns="columns">
            <tr>
  
              <td><span class="p-column-title">CEP: </span>{{ endereco.cep }}</td>
              <td><span class="p-column-title">Número: </span>{{ endereco.numero }}</td>
              <td><span class="p-column-title">Logradouro: </span>{{ endereco.logradouro }}</td>
              <td><span class="p-column-title">Complemento: </span>{{ endereco.complemento }}</td>
              <td><span class="p-column-title">Bairro: </span>{{ endereco.bairro }}  {{endereco.tipoQtd}}</td>
              <td><span class="p-column-title">Localidade: </span>{{ endereco.localidade }}</td>
              <td><span class="p-column-title">UF: </span>{{ endereco.uf }}</td>  
            </tr>
          </ng-template>
  
          <ng-template pTemplate="emptymessage">
            <tr>
              <td colspan="10">Não foi realizado nenhum registro de endereço para este cliente.</td>
            </tr>
          </ng-template>
        </p-table>
      </p-panel>


  
      <div class="grid p-fluid">
        <div class="col-12 ">
          <button class="p-button-success" pButton label="Salvar" icon="pi pi-fw pi-save" [disabled]="!f.valid"></button>
        </div>
      </div>
    </form>
  </div>